body {
  background-color: yellow;
  color: green;
  font-family: monospace;
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}


h2{
  font-size: 5em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}